@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .homecate {
    @apply rounded-[40px] border border-gray-300 px-5 py-1 text-sm;
  }
  .homecate_active {
    @apply bg-gradient-to-r from-[#dda5ff] to-[#64e2ff] text-white;
  }
}

label,
input {
  display: block;
  margin-bottom: 20px;
  border: none;
  outline: none;
  padding: 5px 0;
}
input {
  padding-left: 10px;
  padding-right: 10px;
}
